@model IEnumerable<ShoppingCartItem>
@{
    ViewData["Title"] = "Shopping Cart Summary";
}
<style>
    
    #shopping {
        height: 35px;
        width: 250px;
        background-color: white;
               
        border-radius: 30px;
        border: 2px solid #a73e6b;
        color: #a73e6b;
        transition: 0.3s;
    }

    #shopping:hover {
            background-image: linear-gradient(to right,#bf392e,#8d44ad);
            border:none;
            color: white;
        }
</style>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2 style="padding-top:10px;padding-bottom:20px;color:#a73e6b;font-size:200%">Shopping Cart Summary</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Product.Name</td>
                        <td class="align-middle">@item.Product.Price</td>
                        <td class="align-middle">@((item.Product.Price * item.Amount).ToString("c"))</td>
                        <td>
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveFromCart"
                            asp-route-id="@item.Product.Id">
                                <i class="fas fa-regular fa-minus"></i>
                            </a>
                            <a class="text-warning" asp-controller="Orders" asp-action="AddToCart"
                            asp-route-id="@item.Product.Id">
                                <i class="fas fa-regular fa-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="collapse-2"></td>
                    <td><b>Total:</b></td>
                    <td>$@(ViewBag.Total).00</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center">
            <div class="btn btn-group row">
                <div class="col">
                <span style="padding:5px"></span>
                <a class="btn" id="shopping" asp-controller="Products" asp-action="Index">
                     Continue Shopping
                </a>
                </div>
                <div class="col"></div>
                <div class="col" id="paypal-btn"></div>

                @*<a class="btn btn-outline-success" asp-controller="Orders" asp-action="CompleteOrder">
                    <i class="fas fa-regular fa-check mr-2"> Order</i>
                </a>*@

            </div>

        </div>
    </div>
</div>

@*EL6NYkN0-bbxwtgSskVlKo_OqI5tz6sta-gJXib5Kq2brwa-3GsokyXmEwy2-W809Gd5LHVz8vl0iQhc5*@
@*AcKRtgL4i68EZ2ZYuYUx3ilihAg2YhL5dtF_m19A8MjBWVOn6ewNS4M_uV8gA3xi98zTcUq38gUHbVFx*@
@*ECjkH2JDNRLYCSAN9lOBZZxLMuJtWfvU7nQDclIH1kd6eqq4zbyQdPGMS4YKeOshhY1OsdUv6STocOMm*@
@*ENNxAN1WOKsLaGKLR_1uJztcGWIOu5KIR0fM0d41AdObipKH7LTSqYSFavZ4wJPA0-cpiPYm_S3iE-3P*@
@*ASHQuoBUwBWxLSNO_JNmOTFmH9zjMRUI-uwyMSJGmnpY-XEs5ZVY7bODE6lxtkAVhTdZPeXg5B94kSTP*@


@*Paypal Sandbox API*@
@section Scripts{
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        let _total = @Html.Raw(ViewBag.Total);
        paypal.Button.render({
            //Configure Enviroment
            env:'sandbox',
            client:{
                sandbox: 'ASHQuoBUwBWxLSNO_JNmOTFmH9zjMRUI-uwyMSJGmnpY-XEs5ZVY7bODE6lxtkAVhTdZPeXg5B94kSTP'
            },
            //Customize Button
            locale:'en_US',
            style:{
                color:'gold',
                size:'medium',
                shape:'pill'
            },
            //Enable Pay Now Checkout
            commit:true,
            //Set Up A Payment 
            payment:function(data,actions){
                return actions.payment.create({
                    transactions:[{
                        amount:{
                            total:_total,
                            currency:'USD'
                        }
                    }]
                });
            },
            //Excute The Payment
            onAuthorize:function(data,actions){
                return actions.payment.get().then(function(){
                  var url = '@Url.Action("CompleteOrder", "Orders", new{} )';
                  window.location.href = url;
                });
            }
        }, '#paypal-btn');
    </script>
}