@model IEnumerable<ShoppingCartItem>
@{
    ViewData["Title"] = "Shopping Cart Summary";
}
<style>
    
    #shopping {
        height: 35px;
        width: 250px;
        background-color: white;
               
        border-radius: 30px;
        border: 2px solid #a73e6b;
        color: #a73e6b;
        transition: 0.3s;
    }

    #shopping:hover {
            background-image: linear-gradient(to right,#bf392e,#8d44ad);
            border:none;
            color: white;
        }
</style>


<body>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2 style="padding-top:10px;padding-bottom:20px;color:#a73e6b;font-size:200%">Shopping Cart Summary</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Product.Name</td>
                        <td class="align-middle">@item.Product.Price</td>
                        <td class="align-middle">@((item.Product.Price * item.Amount).ToString("c"))</td>
                        <td>
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveFromCart"
                            asp-route-id="@item.Product.Id">Remove
                                @*<i class="fas fa-regular fa-minus"></i>*@
                            </a> /
                            <a class="text-warning" asp-controller="Orders" asp-action="AddToCart"
                            asp-route-id="@item.Product.Id">Add
                                @*<i class="fas fa-regular fa-plus"></i>*@
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="collapse-2"></td>
                    <td><b>Total:</b></td>
                    <td>$@(ViewBag.Total).00</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <div class="btn btn-group row">
                <div class="col">
                <span style="padding:5px"></span>
                <a class="btn" id="shopping" asp-controller="Products" asp-action="Index">
                     Continue Shopping
                </a>
                </div>
                <div class="col"></div>
                <div class="col" id="paypal-btn"></div>
            </div>

        </div>
    </div>
</div>
</body>
<hr />
@*Submit Form*@



@*Paypal Sandbox API*@
@section Scripts{
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        let _total = @Html.Raw(ViewBag.Total);
        paypal.Button.render({
            //Configure Enviroment
            env:'sandbox',
            client:{
                sandbox: 'AXdmzQS861T0MDi_w28bOZszQRdbOwd1AY7sedetwyyzT86eunvgmmwe3XDXl1MxCzbltZNjg-KP2g08'
            },
            //Customize Button
            locale:'en_US',
            style:{
                color:'gold',
                size:'medium',
                shape:'pill'
            },
            //Enable Pay Now Checkout
            commit:true,
            //Set Up A Payment 
            payment:function(data,actions){
                return actions.payment.create({
                    transactions:[{
                        amount:{
                            total:_total,
                            currency:'USD'
                        }                        
                    }]
                });
            },
            //Excute The Payment
            onAuthorize:function(data,actions){
                                
                return actions.payment.get().then(function(){
                  var url = '@Url.Action("CompleteOrder", "Orders", new{} )';
                  window.location.href = url;
                });
            }
        }, '#paypal-btn');
    </script>
}