@model Product
@{
    ViewData["Title"] = "Details of Product ";
}

<style>
    #atc1 {
        transition: 0.3s;
        color: black;
        
    }

        #atc1:hover {
            border: none;
            background-image: linear-gradient(to right,#b03d56,#a1407b);
            color: white;
        }
    #nme{
        color:#a1407b;
    }

    #ctn{
        
        
        padding: 25px;
        
    }
    #ads{
        width:auto;
        height:400px;
    }
        
    #title {
        font-size: 40px;
        background-image: linear-gradient(to right,#bf392e,#8d44ad);
        border-radius: 30px;
        color: white;
    }

    

</style>


<body>
    <div class="btn1" align="center" id="title">
        <h2><b> > DETAIL PRODUCT < </b></h2>
    </div>

 <div class="container" id="ctn">   
     <div class="row" >
         <div class="col">
             <img src="@Model.ImageURL" width="auto" height="500px;" style="padding-left:20px;" alt="@Model.Name">
         </div>
         <div class="col" >
            <div class="border-body text-lg-left" >
               <h2><p class="border-text" id="nme">@Model.Name</p></h2>
               <hr />
               <h4>General Information :</h4>
               <p class="border-text">  Type : @Model.ProductType</p>
               <p class="border-text">  Manufacturer : @Model.Category.Name</p>
               <p class="border-text">  UPC : @Model.Description</p>                        
               <hr />
               <p class="border-text">Price : <b>@Model.Price.ToString("c")</b></p>
               <br />
               <a class="btn" style="background-image: linear-gradient(to right,#b03d56,#a1407b); color: white; " asp-controller="Orders" asp-action="AddToCart" asp-route-id="@Model.Id">
                                <i class="fas fa-regular fa-shopping-basket mr-2"></i>ADD TO CART
               </a>
             </div>                
         </div>
    </div>
</div>
    





<div class="container" id="ctn">
    <h3>Đánh giá chi tiết card màn hình ASUS Dual GeForce RTX 2060 OC edition EVO 6GB GDDR6</h3>
    <p style="font-size:100%">Là phiên bản nâng cấp từ phiên bản RTX 2060 OC Edition trước đó, ASUS Dual GeForce RTX 2060 OC edition EVO vẫn giữa được vẻ ngoài gaming trước đó. Khoác lên màu đen mạnh mẽ cùng các góc cạnh được hoàn thiện một cách bắt mắt, ASUS Dual GeForce RTX 2060 OC edition EVO sẽ làm nổi bật chiếc case nói riêng và góc gaming nói chung.
    </p>
        <img id="ads" src="https://file.hstatic.net/1000026716/file/gearvn-asus-dual-geforce-rtx-2060-oc-edition-evo-6gb-gddr6-01_613a93cbb44d490498312090f9f32c8b.jpg" />
    <br />
    <h3>Hệ thống tản nhiệt 2x Fans của ASUS Dual GeForce RTX 2060 OC edition EVO</h3>
        <p style="font-size:100%">Trang bị 2 chiếc quạt mới mẻ và mạnh mẽ được sản xuất từ công nghệ Axial đem lại thiết kế cánh quạt dài hơn cùng vòng quay hướng áp suất không khí xuống đem lại khả năng tản nhiệt tốt nhất cho ASUS Dual GeForce RTX 2060 OC edition EVO.
        Kết hợp cùng công nghệ 0dB giúp cho ASUS Dual GeForce RTX 2060 OC edition EVO hoạt động một cách thông minh khi có thể tự động dừng hoạt động khi nhiệt độ lõi GPU dưới 55 độ C và khi nhiệt độ tăng sẽ tự động hoạt động trở lại, đem lại không gian yên tĩnh khi làm việc và chơi game.
    </p>
        <img id="ads" src="https://file.hstatic.net/1000026716/file/gearvn-asus-dual-geforce-rtx-2060-oc-edition-evo-6gb-gddr6-02_8c89abcf25e245489cc3c770b141f03e.jpg" />
        <br />
    <h3>Mặt lưng bảo vệ chắc chắn</h3>
            <p style="font-size:100%">Diện tích PCB của ASUS Dual GeForce RTX 2060 OC edition EVO được bảo vệ bằng mặt lưng được làm từ nhôm, đảm bảo sự an toàn cho PCB và tránh các va đập không mong muốn đến cho mặt sau của VGA.
    </p>
        <img id="ads" src="https://file.hstatic.net/1000026716/file/gearvn-asus-dual-geforce-rtx-2060-oc-edition-evo-6gb-gddr6-03_24d5a69f0c5043609aebd1081c41b068.jpg" />
        <br />
    <h3>Hoàn thiện từ công nghệ Auto-Extreme</h3>
                <p style="font-size:100%">
                    Tất cả linh kiện trong ASUS Dual GeForce RTX 2060 OC edition EVO được hoàn thiện bằng quy trình sản xuất tiên tiến dựa trên công nghệ Auto-Extreme mang đến chất lượng tốt nhất cho card màn hình. Các thành phần bên trong như tụ điện, DrMOS và cuộn cảm giúp đẩy hiệu năng ASUS Dual GeForce RTX 2060 OC edition EVO lên mức tối đa.
    </p>
        <img id="ads" src="https://file.hstatic.net/1000026716/file/gearvn-asus-dual-geforce-rtx-2060-oc-edition-evo-6gb-gddr6-04_cd53306688824fbdafb43cdd0f323d98.jpg" />
        <br />
</div>
<section/>

</body>
<br />
<br />


