@model Product
@{
    ViewData["Title"] = "Details of Product ";
}

@*<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card">
            <img src="@Model.ImageURL" alt="@Model.Name" style="width:90%;height:200px;">
            <h1>@Model.Name</h1>
            <p>@Model.Price.ToString("c")</p>
            <p>@Model.Description</p>
            <p @Model.ProductType</p>
            <p>@Model.Category.Name</p>
            <a class="btn btn-success" asp-controller="Orders" asp-action="AddToCart" asp-route-id="@Model.Id">
                <i class="fas fa-regular fa-shopping-basket mr-2"></i>Add To Cart</a>
        </div>
    </div>
</div>
*@

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="border mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="border-header text-dark bg-warning">
                        <p class="border-text">
                            <h5 class="border-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" height="400px;" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="border-body">
                        <br /><p class="border-text"><b>Price : </b>@Model.Price.ToString("c")</p>
                        <p class="border-text"><b>UPC : </b>@Model.Description</p>
                        <p class="border-text"><b>Devices Type : </b>@Model.ProductType</p>
                        <p class="border-text"><b>Manufacturer : </b>@Model.Category.Name</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="border-footer">
                        <p class="border-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>                            
                            <a class="btn btn-warning" asp-controller="Orders" asp-action="AddToCart" asp-route-id="@Model.Id">
                                <i class="fas fa-regular fa-shopping-basket mr-2"></i>Add To Cart
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
