@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product";
}

<style>


    #dtl {
        transition: 0.3s;
        
        padding-left:10px;
    }

        #dtl:hover {
            background-color: white;
            color: #a1407b;
        }

    #atc {
        transition: 0.3s;
        
    }

    #atc:hover {
            background-color: white;
            color: #a1407b;
    }

    #edt {
        border: 1px solid limegreen;
        color: limegreen;
        
    }


    #del {
        border: 1px solid red;
        color: red;
        
    }
     
    #crt-prd{
        border-radius:30px;
        background-color: #be3930;
        color: white;
        
        
    }
    #crt-prd:hover{
    }
       

    #cardProduct {
        transition: 0.2s;     
        padding: 10px;
        color:dimgray;
    }

    #cardProduct:hover {
        
        color: white;
    }
    
    #btn1 {
        /*border-radius: 40px;*/        
        transition: 0.3s;
        
    }

    

    #btn1:hover {
        
        color: white;
        background-color: #bf392e;
    }

    #mnf{        
        border-radius: 10px;        
        width: auto;
        height: 30px;
        
    }
    p span {
        white-space: nowrap;
    }

    #title {
        font-size: 40px;
        background-image: linear-gradient(to right,#bf392e,#8d44ad);
        border-radius: 30px;
        color: white;
    }


</style>

<body>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">HOME</a></li>
            <li class="breadcrumb-item" aria-current="page">PRODUCT</li>
        </ol>
    </nav>

    <div class="btn1" align="center" id="title">
        <h2><b>> ALL PRODUCT LIST <</b></h2>
    </div>
    
    <div style="float:right;">
         <div>            
                <form class="form-inline" asp-action="Index" asp-controller="Products" style="padding:10px; ">
                    <p>
                        Manufacture:                     
                        <span>
                            <input type="text" placeholder="Etc: MSI" name="searchTerm" list="type1" autocomplete="off">
                                <datalist id="type1">
                                    <option value="MSI">  MSI</option>
                                    <option value="GIGABYTE">  GIGABYTE</option>
                                    <option value="ASUS">  ASUS</option>
                                    <option value="PYN">  PYN</option>
                                </datalist>                             
                        </span>
              </form>         
         </div>
    </div>
    
    <br />
        
    <div class="row">
        @foreach (var item in Model)
        {      
            <div class="col-md-3">    
                <div class="card">
                    @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <span class="alert" style="border-radius:20px;">
                            <a class="btn btn-sm float-left" id="edt" asp-action="Edit" asp-controller="Products" asp-route-id="@item.Id">
                                Edit
                            </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                                <input type="submit" value="Delete" class="btn btn-sm float-right" id="del" onclick="return confirm('Delete This Product ?')" />
                    </a>
                        </span>
                    }
                        <div id="cardProduct">
                    <div id="img-prd">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.ImageURL" alt="@item.Name" style="width:auto; height:250px; padding-bottom:10px;">
                    </a>
                    </div>
                             
                
                    <div class="text-sm-left"  id="inf">
                        <p><h><b>@item.Name</b></h></p>
                        <hr />                   
                        <p>UPC : @item.Description</p>
                        <p>Manufacturer : @item.Category.Name</p>
                        <p>Type : <b>@item.ProductType</b></p>
                        <p>Price : <b>@item.Price.ToString("c")</b></p>
                    </div>
                            <a class="btn" id="dtl" style="font-size:12px; padding-right:20px;" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa-solid fa-circle-info mr-2"></i>DETAIL</a>

                            <a class="btn" id="atc" style="font-size:12px" asp-controller="Orders" asp-action="AddToCart" asp-route-id="@item.Id">
                            <i class="fas fa-regular fa-shopping-basket mr-2"></i>ADD TO CART</a>
                    </div>
                    </div>
            </div>
        
        }
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />



@if (Context.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
  {
    <div class="text-white" style="position:fixed;right:30px;bottom:70px;">
            <a asp-action="Create" asp-controller="Products" class="btn float-right" id="crt-prd">
            <i class="fas fa-regular fa-plus-square mr-2"></i>
            Create
        </a>
    </div>
  }




</body>




@section Scripts{
    <script type="text/javascript">
        $(function(){
        $("#productType").chosen();
        });
        </script>
}
