@model IEnumerable<Product>
@{
    ViewData["Title"] = "Listing Product";
}
<img src="~/Img/Background.png" style="width:100%; height:460px;" />

@*<div class="filter" style="padding:30px; font-size:15px;">
    <h3>Filter Product</h3>
    <input id="all" type="checkbox" /> <label class="filter__button" for="all">All</label> <br />
        <input id="VGA" type="checkbox" /> <label class="filter__button" for="VGA">VGA</label><br />
        <input id="RAM" type="checkbox" /> <label class="filter__button" for="RAM">RAM</label><br />
        <input id="CPU" type="checkbox" /> <label class="filter__button" for="CPU">CPU</label><br />
        <input id="Mainboard" type="checkbox" /> <label class="filter__button" for="Mainboard">Mainboard</label><br />
        <input id="SSD" type="checkbox" /> <label class="filter__button" for="SSD/HDD">SSD/HDD</label>
  
  </div>
*@
<div class = "row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">    
            <div class="card">
                @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <span class="alert alert-info">
                        <a class="btn btn-outline-info btn-sm float-left" asp-action="Edit" asp-controller="Products" asp-route-id="@item.Id">
                            Edit
                        </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                            <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm float-right" onclick="return confirm('Delete This Product ?')" />
                </a>
                    </span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.ImageURL" alt="@item.Name" style="width:100%; height:300px;">
                </a>
                <h><b>@item.Name</b></h>
                <p>Price: @item.Price.ToString("c")</p>
                <p>UPC: @item.Description</p>
                <p>Type: <b>@item.ProductType</b></p>
                <p>Manufacturer: @item.Category.Name</p>
                <a class="btn btn-warning" asp-controller="Orders" asp-action="AddToCart" asp-route-id="@item.Id">
                <i class="fas fa-regular fa-shopping-basket mr-2"></i>Add to Cart</a>
            </div>
        </div>
    }
</div>

@if (Context.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
  {
    <div class="text-white" style="position:fixed;right:30px;bottom:50px;">
        <a asp-action="Create" asp-controller="Products" class="btn btn-outline-success float-right">
            <i class="fas fa-regular fa-plus-square mr-2"></i>
            Create
        </a>
    </div>
  }

@*<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>*@
